# exclude everything
# somefolder/*

# exception to the rule
# !somefolder/.gitkeep 

benchmarks/1-social-network/volumes/* 
benchmarks/1-social-network/tmp/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# ignore trace files
**/*_traces.json


# ignore parsed traces
/traces/
